pipeline/4_1_Inc Load Type 2 Onprem to Datalake.json
{
	"name": "4_1_Inc Load Type 2 Onprem to Datalake",
	"properties": {
		"activities": [
			{
				"name": "Get Inc Load Table lists",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from stg.hydration_file\nwhere LoadType = 'Inc' \nand status = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsqlserver_inc_tablist",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Inc Load Table lists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Inc Load Table lists').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get watermark Date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select lastmodified from stg.watermark1 where table_name = ''', item().SourceTableName, '''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_watermark_date",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Get maxdate from onprem",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) as maxdate from ', item().SourceSchema,'.', item().SourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprem_max_dt",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Get watermark Date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get maxdate from onprem",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().SourceSchema,'.', item().SourceTableName, ' where ModifiedDate > ''', activity('Get watermark Date').output.firstRow.lastmodified,\r\n '''',' and ModifiedDate <= ''', activity('Get maxdate from onprem').output.firstRow.maxdate,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_get_onprems_tab_recs",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azdb_stg",
									"type": "DatasetReference",
									"parameters": {
										"schema": "stg",
										"table": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MiniProj_1"
		},
		"annotations": []
	}
}