pipeline/4_Incremental Load OnPrems - DataLake.json
{
	"name": "4_Incremental Load OnPrems - DataLake",
	"properties": {
		"activities": [
			{
				"name": "Get Incremental Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from stg.hydration_file\nwhere LoadType = 'Inc' \nand status = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsqlserver_inc_tablist",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy incremental table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Incremental Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Incremental Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get watermark date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select lastmodified from stg.watermark1 where schema_name = ''', item().SourceSchema, '''',' and table_name = ''', item().SourceTableName,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_watermark_date",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "get max date from onprems",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) as maxdate from ', item().SourceSchema,'.', item().SourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprem_max_dt",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get watermark date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "get max date from onprems",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ', item().SourceSchema, '.', item().SourceTableName, ' where ModifiedDate > ''',activity('get watermark date').output.value[0].lastmodified,\n'''',' and ModifiedDate <= ''',activity('get max date from onprems').output.firstRow.maxdate,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_get_onprems_tab_recs",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze1_csv",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Watermark table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_az_sqlserver",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update stg.watermark1 set lastmodified = ''',activity('get max date from onprems').output.firstRow.maxdate, '''',\n' where schema_name = ''',item().SourceSchema,'''', ' and table_name = ''',item().SourceTableName,'''')\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MiniProj_1"
		},
		"annotations": []
	}
}