pipeline/5 Incremental Load from onprems to datalake.json
{
	"name": "5 Incremental Load from onprems to datalake",
	"properties": {
		"activities": [
			{
				"name": "Get Incremental table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from stg.Hydration\nwhere status = 1\nand Loadtype = 'Inc'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsqlserver_hydration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Incremental Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Incremental table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Incremental table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get lastmodified From Watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select lastmodified from stg.watermark where schema_name =''', item().SourceSchema,'''',' and table_name =''', item().SourceTableName,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsqlserver_watermark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Get Last Modified From Onpremise",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) as maxdate from ', item().SourceSchema, '.', item().SourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprem_sqlserver",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get lastmodified From Watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get Last Modified From Onpremise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item().SourceSchema,'.', item().SourceTableName,' WHERE ModifiedDate > ''',activity('Get lastmodified From Watermark').output.firstRow.lastmodified,'''',\n' and ModifiedDate <= ''',activity('Get Last Modified From Onpremise').output.firstRow.maxdate,''''\n )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_sqlserver",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().SourceSchema,'_', item().SourceTableName, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Watermark Table",
							"description": "Update Watermark Table with onprems last modified.",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_az_sqlserver",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update stg.watermark set lastmodified = ''', activity('Get Last Modified From Onpremise').output.firstRow.maxdate,'''',\n ' WHERE schema_name = ''', item().SourceSchema,'''', ' AND table_name = ''',item().SourceTableName, '''')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MiniProject"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-17T21:02:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}