pipeline/Get Larest Number from an array.json
{
	"name": "Get Larest Number from an array",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('number')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(variables('loop_variable'), variables('old'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable4",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "old",
											"value": {
												"value": "@variables('loop_variable')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable6",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "loop_variable",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "result",
					"value": {
						"value": "@variables('old')",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"number": {
				"type": "Array",
				"defaultValue": [
					10,
					100,
					202,
					102,
					999,
					20,
					50,
					40,
					30
				]
			},
			"old": {
				"type": "Integer",
				"defaultValue": 1
			},
			"result": {
				"type": "Integer"
			},
			"loop_variable": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-16T18:17:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}